div.head
{
	background-color: #000000;
	color: #999999;
	border-color: #999999;
	border-width: 10px;
	border-style:double;
	/* width: 1495px; */
	width: 200px;
	text-align: center;
	padding: 30px;
	position: absolute;
	top:0px;
	right:0px;
	font-size: 40px;
	font-variant: small-caps;
}

a
{
	color:#999999;
}

a:hover
{
	color:#3d3d3d;
}

img.bear
{
	position:absolute;
	bottom: 20px;
	right: 20px;
}